* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.reservation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
}

.reservation-form {
    width: 100%;
    max-width: 800px;
    max-height: 1000px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-color: #333;
    padding: 40px;
    box-sizing: border-box;
}

.reservation-form h1 {
    font-size: 33px;
    color: #4c5a23;
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    margin: 0 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type="date"],
.form-group input[type="time"] {
    padding: 8px;
}

.form-group p {
    color: red;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
}

.submit-button {
    background: tomato;
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.submit-button:hover {
    background: #600000;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.dialog p {
    margin-bottom: 20px;
}

.dialog button {
    background: #e39533;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.dialog button:hover {
    background: #5a6268;
}

.dialog button:nth-child(2) {
    background: #600000;
}

.dialog button:nth-child(2):hover {
    background: tomato;
}

.about-footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #f8f9fa;
}

.about-footer p {
    font-size: 0.9em;
    font-weight: 700;
}
