.gallery-container {
    padding: 20px;
  }
  
  .gallery-header {
    text-align: center;
  }
  
  .full-gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .galleries-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .galleries-button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .galleries-form-toggle-button {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #495057;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .galleries-form-toggle-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .galleries-images {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .galleries-image {
    flex: 1 1 calc(33.333% - 30px); /* Three images per row */
    max-width: calc(33.333% - 30px);
  }
  
  .galleries-image img {
    width: 100%;
    height: auto;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  p {
    margin-top: 20px;
  }
  

