* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cart {
    padding: 0px;
    max-width: 1200px;
    margin: auto;

}

.cart-items {
    padding: -5px;
}

.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cart-items-title p {
    margin: 0;
}

.cart-items-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-items-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.cart-items-item p {
    margin: 0;
}

.cross {
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ddd;
    background-color: #ddd;
    height: 1px;
    width: 100%;
}

.cart-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart-total hr {
    margin: 10px 0px;
}

.cart-total button {
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}

.cart-promocode {
    flex: 1;
}

.cart-promocode p {
    color: #555;
}

.cart-promocode-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}

.cart-promocode-input input {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}

.cart-promocode-input button {
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
}

.about-footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #f8f9fa;
}

.about-footer p {
    font-size: 0.9em;
    color: #7f8c8d;
}